.main-body
  - if user_signed_in?
    .explanation-text
      ※音声入力するには
      = icon('fa', 'microphone')
      ボタンを押してください
    .explanation
      .explanation-info
        .explanation-info__text 
          備忘録として。
        .explanation-info__text 
          手軽に使える。
        .explanation-info__img 
          = link_to "https://gyazo.com/e57b13a02a6103fde0b21bfc9de0fe55" do
            <video alt="Video from Gyazo" width="318" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/e57b13a02a6103fde0b21bfc9de0fe55.mp4" type="video/mp4" /></video></>
        .explanation-info__text 
          自由にジャンル分けをしてカスタマイズ。
        .explanation-info__img 
          = link_to "https://gyazo.com/0bf71fd1eec62ef96b349ac22b608055" do
            <video alt="Video from Gyazo" width="256" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/0bf71fd1eec62ef96b349ac22b608055.mp4" type="video/mp4" /></video></>
        .explanation-info__text 
          カレンダー表示機能もあるので
        .explanation-info__text 
          スケジュール帳としてもご利用できます。
        .explanation-info__img 
          = image_tag 'voicememo3.png', class: 'explanation-info__image', alt: 'sample image'
  - else
    .explanation
      .explanation-text
        ※新規登録またはログインしてください
      .explanation-info
        .explanation-info__text 
          備忘録として。
        .explanation-info__text 
          手軽に使える。
        .explanation-info__img 
          = link_to "https://gyazo.com/e57b13a02a6103fde0b21bfc9de0fe55" do
            <video alt="Video from Gyazo" width="318" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/e57b13a02a6103fde0b21bfc9de0fe55.mp4" type="video/mp4" /></video></>
        .explanation-info__text 
          自由にジャンル分けをしてカスタマイズ。
        .explanation-info__img 
          = link_to "https://gyazo.com/0bf71fd1eec62ef96b349ac22b608055" do
            <video alt="Video from Gyazo" width="256" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/0bf71fd1eec62ef96b349ac22b608055.mp4" type="video/mp4" /></video></>
        .explanation-info__text 
          カレンダー表示機能もあるのスケジュール帳としてもご利用できます。
        .explanation-info__img 
          = image_tag 'voicememo3.png', class: 'explanation-info__image', alt: 'sample image'






