.main-body
  - if user_signed_in?
    .explanation-text#page-top
      ※音声入力するには
      = icon('fa', 'microphone')
      ボタンを押してください
    .explanation
      .explanation-info
        .explanation-info__text 
          備忘録として。
        .explanation-info__text 
          手軽に使える。
        .explanation-info__img 
          = link_to "https://gyazo.com/e57b13a02a6103fde0b21bfc9de0fe55" do
            <a href="https://gyazo.com/bac0266013efff91a87a9e6b05eb9113"><img src="https://i.gyazo.com/bac0266013efff91a87a9e6b05eb9113.gif" alt="Image from Gyazo" width="374"/></a>
        .explanation-info__text 
          自由にジャンル分けをしてカスタマイズ。
        .explanation-info__img 
          = link_to "https://gyazo.com/0bf71fd1eec62ef96b349ac22b608055" do
            <a href="https://gyazo.com/511c54ef013bf8f58fd85e0abc7cf6cd"><img src="https://i.gyazo.com/511c54ef013bf8f58fd85e0abc7cf6cd.gif" alt="Image from Gyazo" width="246"/></a>
        .explanation-info__text 
          カレンダー表示機能もあるので
        .explanation-info__text 
          スケジュール帳としてもご利用できます。
        .explanation-info__img 
          = image_tag 'voicememo3.png', class: 'explanation-info__image', alt: 'sample image'
  - else
    .explanation
      .explanation-text#page-top
        ※新規登録またはログインしてください
      .explanation-text
        ※ゲストログインされた方は、閲覧後ログアウトをお願い致します。
      .explanation-info
        .explanation-info__text 
          備忘録として。
        .explanation-info__text 
          手軽に使える。
        .explanation-info__img 
          = link_to "https://gyazo.com/e57b13a02a6103fde0b21bfc9de0fe55" do
            <a href="https://gyazo.com/bac0266013efff91a87a9e6b05eb9113"><img src="https://i.gyazo.com/bac0266013efff91a87a9e6b05eb9113.gif" alt="Image from Gyazo" width="374"/></a>
        .explanation-info__text 
          自由にジャンル分けをしてカスタマイズ。
        .explanation-info__img 
          = link_to "https://gyazo.com/0bf71fd1eec62ef96b349ac22b608055" do
            <a href="https://gyazo.com/511c54ef013bf8f58fd85e0abc7cf6cd"><img src="https://i.gyazo.com/511c54ef013bf8f58fd85e0abc7cf6cd.gif" alt="Image from Gyazo" width="246"/></a>
        .explanation-info__text 
          カレンダー表示機能もあるのスケジュール帳としてもご利用できます。
        .explanation-info__img 
          = image_tag 'voicememo3.png', class: 'explanation-info__image', alt: 'sample image'






