.header
  .header__search
    = link_to "検索", contents_searches_path, class: 'header__search__btn'
  .header__title
    = link_to root_path, class: "header__title__link" do
      Voice Memo
  .header__btns
    - if user_signed_in?
      .header__btns--signup
        = current_user.name
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'header__btns--login' 
    - else
      = link_to "新規登録", new_user_registration_path, class: "header__btns--signup" 
      = link_to "ログイン", new_user_session_path, class: 'header__btns--login' 