.main-body
  .explanation-text
    ※音声入力するには
    = icon('fa', 'microphone')
    ボタンを押してください
  .form-box
    = form_for [@genre, @content] do |f|
      .field-content
        = button_tag type: 'button', class: 'mic-btn', id: 'title-btn' do
          = icon('fa', 'microphone')
        = button_tag type: 'button', class: 'mic-btn', id: 'title-btn-stop' do
          = icon('far', 'stop-circle')
        %br/
        = f.text_field :title, class: 'form-box__contents__title', id: 'contents__title', placeholder: 'タイトル'
      .field-content
        = button_tag type: 'button', class: 'mic-btn', id: 'comment-btn' do
          = icon('fa', 'microphone')
        = button_tag type: 'button', class: 'mic-btn', id: 'comment-btn-stop' do
          = icon('far', 'stop-circle')
        %br/
        = f.text_area :comment, class: 'form-box__contents__comment', id: 'contents__comment', placeholder: 'メモ、コメント、etc'
      .field-content
        = icon('far', 'calendar-times')
        = f.label :start_time, "日時"
        %br/
        = f.datetime_select :start_time, {}, class: 'form-box__contents__start-time'
      .field-content
        = icon('fas', 'tags')
        = f.label :display, "カレンダーに表示"
        %br/
        = f.select :display, [['表示する', 0], ['表示しない', 1]], {prompt:"選択してください"},  class: 'form-box__contents__display'
      = f.submit '登録', class: 'form-box__new-memo'
  .contents
    %table.contents-tb
      %tr.content-tr
        %th.content-th-title
          TITLE
        %th.content-th-memo
          MEMO
        %th.content-th-start_time
          作成/予定日時
        %th.content-th-updated_at
          更新日
      - @genre.contents.each do |content|
        %tr.content-tr
          %td.content-title
            = content.title
          %td.content-comment
            = content.comment
          %td.content-start_time
            = content.start_time.strftime("%Y/%m/%d (%a) %H:%M")
          %td.content-updated_at
            = content.updated_at.strftime("%Y/%m/%d (%a) %H:%M")
            更新
            = link_to edit_genre_content_path(@genre, content), class: 'content__edit-link' do
              = icon('fas', 'edit')
            = link_to "/genres/#{@genre.id}/contents/#{content.id}", method: :delete, class: 'content__delete-link' do
              = icon('far', 'trash-alt')

    -# - @genre.contents.each do |content|
    -#   .content
    -#     .content__info
    -#       .content__info__date
    -#         = content.start_time.strftime("%Y/%m/%d (%a) %H:%M")
    -#       .content__info__title
    -#         = content.title
    -#     .content__comment
    -#       = content.comment
    -#     .content__updated
    -#       = content.updated_at.strftime("%Y/%m/%d (%a) %H:%M")
    -#       更新
    -#       = link_to edit_genre_content_path(@genre, content), class: 'content__edit-link' do
    -#         = icon('fas', 'edit')
    -#       = link_to "/genres/#{@genre.id}/contents/#{content.id}", method: :delete, class: 'content__delete-link' do
    -#         = icon('far', 'trash-alt')

