.main-body
  .explanation-text
    ※音声入力するにはstartボタンを押してください
  .form-box
    = form_for [@genre, @content] do |f|
      .field-content
        = f.label :title, "《タイトル》"
        %br/
        %button{type: "button", id: "title-btn"}
          タイトル◉start
        %button{type: "button", id: "title-btn-stop"}
          stop
        %br/
        = f.text_field :title, class: 'form-box__contents__title', id: 'contents__title', placeholder: 'タイトル'
      .field-content
        = f.label :comment, "《メモ》"
        %br/
        %button{type: "button", id: "comment-btn"}
          コメント◉start
        %button{type: "button", id: "comment-btn-stop"}
          stop
        %br/
        = f.text_area :comment, class: 'form-box__contents__comment', id: 'contents__comment', placeholder: 'メモ、コメント、etc'
      .field-content
        = f.label :start_time, "《作成日や予定日を入力》"
        %br/
        = f.datetime_select :start_time, {}, class: 'form-box__contents__start-time'
      .field-content
        = f.label :display, "《カレンダーに表示するか選択してください》"
        %br/
        = f.select :display, [['表示する', 0], ['表示しない', 1]], {prompt:"選択してください"},  class: 'form-box__contents__display'
      = f.submit '登録', class: 'form-box__new-memo'
  .contents
    - @genre.contents.each do |content|
      .content
        .content__info
          .content__info__date
            = content.start_time.strftime("%Y/%m/%d (%a) %H:%M")
          .content__info__title
            = content.title
        .content__comment
          = content.comment
        .content__updated
          = content.updated_at.strftime("%Y/%m/%d (%a) %H:%M")
          更新
          = link_to "編集する", edit_genre_content_path(@genre, content), class: 'content__edit-link'
          = link_to "削除する", "/genres/#{@genre.id}/contents/#{content.id}", method: :delete, class: 'content__delete-link'


