.side-bar
  .genre__name
    = @genre.name
  .form-box
    %button#search-btn
      検索◉start
    = form_for(@content, url: contents_searches_path, local: true, method: :get, class: "search-form") do |f|
      = f.text_field :keyword, class: 'form-box__contents__title', id: 'search__title', placeholder: 'タイトル検索'
      = f.submit '検索', class: 'form-box__new-memo'
  = link_to user_path(current_user.id), class: 'contents-title-link' do
    >>カレンダーへ

  