.side-bar
  .side-bar-top
    .header__menu
      = icon('fa', 'times', id: "top-menu")
  %ul.genre-list
    - if current_user.id == @genre.user.id
      %li.genre-list__info
        = @genre.name
        = link_to edit_genre_path(@genre), class: 'genre-name__edit', id: 'genre-edit-link' do
          = icon('fas', 'edit')
        = link_to "/genres/#{@genre.name}", method: :delete, class: 'genre-name__delete', id: "genre-delete-link" do
          = icon('far', 'trash-alt')
    - @genres.each do |genre|
      -if @genre != genre
        %li.genre-list__link
          = link_to "#{genre.name}", genre_contents_path(genre), class: 'genre-list__link--name'
  %ul.menu-list
    %li.menu-list__info
      MENU
    %li.menu-list__link
      = link_to root_path, class: 'menu-list__link--name' do
        = icon('fas', 'home')
        ホーム
    %li.menu-list__link
      = link_to mypage_path, class: 'menu-list__link--name' do
        = icon('fas', 'calendar-alt')
        カレンダー
    %li.menu-list__link
      = link_to "アカウント", '#', class: 'menu-list__link--name'
    %li.menu-list__link
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'menu-list__link--name', id:'user-logout'
    %li.menu-list__link
      =link_to "TOP", '#page-top', class: 'menu-list__link--name'
    - if current_user.name == "ゲスト1" || current_user.name == "ゲスト2" || current_user.name == "ゲスト3"
      %li.menu-list__link
        = link_to destroy_user_session_path, method: :delete, class: 'guest-user', id:'guest_user-logout' do
          ※ゲストユーザーです。
          %br/
          ログアウトを忘れずにお願いします。（ログアウト）
  
  