.side-bar
  .menu-container
    %ul.menu-list
      - if current_user.id == @genre.user.id
        %li.menu-list__genres
          = @genre.name
          = link_to edit_genre_path(@genre), class:   'genre__name__edit' do
            = icon('fas', 'edit')
            -# = icon('far', 'trash-alt')
        %li.menu-list__link
          = link_to root_path, class:   'menu-list__link--name' do
            = icon('fas', 'home')
            ホーム
        %li.menu-list__link
          = link_to user_path(current_user.id), class:  'menu-list__link--name' do
            = icon('fas', 'calendar-alt')
            カレンダー
        %li.menu-list__link
          = link_to "アカウント", '#', class:   'menu-list__link--name'
        %li.menu-list__link
          = link_to "ログアウト",   destroy_user_session_path, method: :delete,   class: 'menu-list__link--name'
        %li.menu-list__link
          =link_to "TOP", '#Top', class:  'menu-list__link--name'
  
  