.wrapper
  = render "genres/header"
  .container
    = render "genres/side_bar"
    .main-body
      .explanation-text
        ※音声入力するには
        = icon('fa', 'microphone')
        ボタンを押してください
      .contents
        - @contents.each do |content|
          .content
            .content__info
              .content__info__date
                = content.created_at.strftime("%Y/%m/%d (%a) %H:%M")
              .content__info__title
                = content.title
            .content__comment
              = content.comment
  = render "genres/footer"