.wrapper
  = render "genres/header"
  .container
    = render "genres/side_bar"
    .main-body
      .explanation-text
        ※音声入力するには
        = icon('fa', 'microphone')
        ボタンを押してください
      .contents
        %table.contents-tb
          %thead
            %tr.content-tr
              %th.content-th-genre
                GENRE
              %th.content-th-title
                TITLE
              %th.content-th-memo
                MEMO
              %th.content-th-start_time
                日時
              %th.content-th-updated_at
                更新日
          %tbody
            - @contents.each do |content|
              %tr.content-tr
                %td.content-genre
                  = link_to "#{content.genre.name}", genre_contents_path(content.genre.id) 
                %td.content-title
                  = content.title
                %td.content-comment
                  = content.comment
                %td.content-start_time
                  = content.start_time.strftime("%Y/%m/%d (%a) %H:%M")
                %td.content-updated_at
                  = content.updated_at.strftime("%Y/%m/%d (%a) %H:%M")
  = render "genres/footer"