.wrapper
  = render "genres/header"
  .side-bar
    = link_to user_path(current_user.id), class: 'contents-title-link' do
      >>タイトル一覧
  .main-body
    .explanation-text
      ＊音声入力するにはstartボタンを押してください＊
    
    .form-box
      %button#search-btn
        検索◉start
      = form_for(@content, url: contents_searches_path, local: true, method: :get, class: "search-form") do |f|
        = f.text_field :keyword, class: 'form-box__contents__title', id: 'search__title', placeholder: 'タイトル検索'
        = f.submit '検索', class: 'form-box__new-memo'

    .contents
      - @contents.each do |content|
        .content
          .content__info
            .content__info__date
              = content.created_at.strftime("%Y/%m/%d (%a) %H:%M")
            .content__info__title
              = content.title
          .content__comment
            = content.comment